# Copy this file to terraform.tfvars and fill in your values
# NEVER commit terraform.tfvars (it may contain your IP / personal data)

aws_region        = "ap-south-1"
my_ip             = "YOUR_PUBLIC_IP/32"   # find yours: curl ifconfig.me
key_pair_name     = "three-tier-devops-key"
worker_node_count = 1
